<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/css/main-style.css">
    <title>Social site</title>
  </head>
  <body>
    <header>
      <h2>This is nav bar</h2>
      {% if current_user.is_authenticated %}
        <a href="{{url_for('settings', username=current_user.username)}}">settings</a>
        <a href="{{url_for('logout')}}">Log Out</a>
      {% endif %}
      <a href="{{url_for('home')}}">HOME</a>
    </header>

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
      <h3>This is footer</h3>
    </footer>
  </body>
</html>
